.vscode/
*.DS_Store
slides.pdf
*.gz
**/Manifest.toml
inputs/
outputs/
**/backups.jl
*.jld2
material/
data/
**/*test.jl
*test
template
backups
Lattices

*.aux
*.log
*.nav
*.out
*.snm
*.toc

*.agx

example/
figures/

yeesuan/
